RESETS
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'PT Sans', sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* DESIGN */



body{
  margin:  auto;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 6px -6px 8px #a9a9a9, -6px 6px 8px #ffffff;;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);     
  color: #ffffff; 
  border-radius: 20px;
}

.wrapper{
  width: 200px;
  height: 250px;
  border-radius: 20px;
}

.main-watch-screen{
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background:#000000;
  padding: 10px;
  text-align: center;
  
}

.home-screen.active{
  opacity: 0;
  position: absolute;
  top: -250%;
}

.menu-screen{
  position: absolute;
  top: -250%;
  opacity: 0;
}

.menu-screen.active-menu{
  position: absolute;
  top: 50%;
  opacity: 1;
}


.header, .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 0 10px;
}

.header.deactivate-header{
  display: none;
}

.user-identity{
  text-align: center;
  padding: 1.5rem 0;
  color: #bcbcbd;
  font-size: 16px;
}

.user-identity-in{
  text-align: center;
  padding: 1.5rem 0;
  color: #bcbcbd;
  font-size: 20px;
}

.digital-time{
  text-align: center;
  width: 100%;
  font-size: 40px;
}

.date-information{
  text-align: center;
  width: 100%;
  color: #bcbcbd;
  padding: 20px 0;
  font-size: 12px;
}

/* Timer styles starts*/
.timer-screen{
  position: absolute;
  top: -250%;
  opacity: 0;
}

.timer-screen.active-timer-screen{
  position: absolute;
  top: 5%;
  opacity: 1;
  height: 100%;
  border-radius: 20px;
}

.timer-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.timer-btn{
  margin-top: 22px;
  display: flex;
  justify-content: center; 
}

.reset-btn{
  border-radius: 8px;
  padding: 5px 16px;
  color:#CAAEFF;
  background: #000000;
  font-weight: bold;
  font-size: 12.25px;
  border: 2px solid #CAAEFF;
  margin-right: 6px;
  cursor: pointer;
}

.start-btn, .stop-btn{
  border-radius: 8px;
  padding: 5px 16px;
  background: #814DE5;
  color: #ffffff;
  font-weight: bold;
  font-size: 12.25px;
  border: 2px solid #814DE5;
  cursor: pointer;
}

.stop{
  display: none;
}

/* Timer style ends*/

.home-btn{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  cursor: pointer;
}

.hm-btn{
  padding: 7px 16px;
  background: #814DE5;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  
}


/* countdown timer */

.counter-screen{
  /* background-color: red; */
  position: absolute;
  top: -250%;
  opacity: 0;
  width: 100%;
}

.counter-screen.active-counter-screen{
  position: absolute;
  top: 5%;
  /* bottom: 50%; */
  opacity: 1;
  height: 100%;
  border-radius: 20px;
}

.val-info, .set-val-info{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
}

.set-val-info input{
  width: 40px;
  height: 40px;
}

.set-val-info input{
  outline: none;
  border: none;
  text-align: center;
  font-size: 20px;
  color: #814DE5;
  background: none;
}

.counter-buttons{
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

#start, #reset{
  padding: 5px 12px;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;

}

#start{
  background: #814DE5;
  color: #ffffff;
  font-weight: bolder;
}

#reset{
  background: white;
  color: #814DE5;
  font-weight: bolder;
}

.back-to-menu-countdown{
  cursor: pointer;
}

/* menu screen */


.menu-screen{
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%);     
  color: #ffffff; 
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.icons-menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 0;
}



.icons, .back-to-home, .back-to-menu, .back-to-menu-weather{
  cursor: pointer;
}

.icons:hover{
  scale: 1.2;
}

/* weather application */

.weather-screen{
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: -200%;
  opacity: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  /* padding: 20px 0; */
  /* background: red; */
}

.weather-screen.active-weather{
  position: absolute;
  top: 5%;
  /* bottom: 50%; */
  opacity: 1;
  height: 100%;
  border-radius: 20px;
  
}

.weather-main{
/* background: red; */
text-align: center;
width: 100%;
padding: 10px 0;
}

/* #search-input{
  background: none;
  padding: 5px;
  outline: none;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #814DE5;
} */

#temp{
  width: 100px;
  margin: auto;
  height: 100px;
}

#temp img{
  width: 100%;
  height: 100%;
}

/* #search-button{
  background: #814DE5;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
} */


#search-button:hover{
  scale: 1.2;
}

.location {
  font-size: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}


/* countdown timer */

.timer-screen{
  /* background-color: red; */
  position: absolute;
  top: -250%;
  opacity: 0;
  width: 100%;
}

.timer-screen.active-timer-screen{
  position: absolute;
  top: 5%;
  /* bottom: 50%; */
  opacity: 1;
  height: 100%;
  border-radius: 20px;
}

.val-info, .set-val-info{
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  align-items: center;
}

.set-val-info input{
  width: 40px;
  height: 40px;
}

.set-val-info input{
  outline: none;
  border: none;
  text-align: center;
  font-size: 20px;
  color: #814DE5;
  background: none;
}

.timer-buttons{
  padding: 25px 0;
  display: flex;
  justify-content: space-evenly;
}

#start, #reset{
  /* padding: 8px 12px; */
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;

}

#start{
  background: #814DE5;
  color: #ffffff;
  font-weight: bolder;
  padding: 8px 15px;
  border: 2px solid #814DE5;
}

#reset{
  /* background: white; */
  color: #ffffff;
  font-weight: bolder;
  border: 2px solid #ffffff;
  background: none;
  padding: 8px 12px;
}

.back-to-menu-countdown{
  cursor: pointer;
}




