RESETS
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* DESIGN */



body{
  margin:  auto;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 6px -6px 8px #a9a9a9, -6px 6px 8px #ffffff; 
  width: 200px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);     
  color: #ffffff; 
  border-radius: 20px;
}

.wrapper{
  width: 100%;
  height: 100%;
  background: #000000; 
  border-radius: 20px;
  padding-top: 10px;
}

.main-watch-screen{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background:#000000;
  padding: 10px;
  
}

.header, .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 0 10px;
}

.user-identity{
  text-align: center;
  padding: 1.5rem 0;
  color: #bcbcbd;
  font-size: 16px;
}

.digital-time{
  text-align: center;
  width: 100%;
  font-size: 40px;
}

.date-information{
  text-align: center;
  width: 100%;
  color: #bcbcbd;
  padding: 10px 0;
  font-size: 12px;
}

/* Timer styles starts*/
.timer-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.timer-btn{
  margin-top: 22px;
  display: flex;
  justify-content: center; 
}

.reset-btn{
  border-radius: 8px;
  padding: 5px 16px;
  color:#CAAEFF;
  background: #000000;
  font-weight: bold;
  font-size: 12.25px;
  border: 2px solid #CAAEFF;
  margin-right: 6px;
  cursor: pointer;
}

.start-btn, .stop-btn{
  border-radius: 8px;
  padding: 5px 16px;
  background: #814DE5;
  color: #ffffff;
  font-weight: bold;
  font-size: 12.25px;
  border: 2px solid #814DE5;
  cursor: pointer;
}

#stop{
  display: none;
}

/* Timer style ends*/

.home-btn{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  cursor: pointer;
}

.hm-btn{
  padding: 7px 16px;
  background: #814DE5;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  
}

.menu-screen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  opacity: 0;
  background: red;
  transition: top 0ms ease-in-out 200ms, 
                  opacity 200ms ease-in-out 0ms, 
                  transform 20ms ease-in-out 0ms;
}

.menu-screen .active{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  opacity: 1;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.icons-menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
  padding: 20px 0;
  height: 100%;
}



.icons-menu .icons{
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.icons img{
  width: 100%;
  height: 100%;
}